@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 1000px;
    height: 560px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.637);
    transform: scale(0);
    animation: boom 0.5s ease-out forwards;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding-top: 20px;
    border-top-left-radius: 30px; /* Añadido para el border-radius en el lado izquierdo */
    border-bottom-left-radius: 30px; /* Añadido para el border-radius en el lado izquierdo */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #555;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.section {
    display: none;
}

#usuario {
    display: block;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-photo-container {
    flex-shrink: 0;
    margin-left: 20px;
}

.user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #aaa;
    background-size: cover;
    background-position: center;
}

.user-details {
    margin-left: 20px;
}

.user-details h2 {
    margin: 0;
    padding: 0;
}

.user-details p {
    margin: 5px 0;
}

/* Animación boom */
@keyframes boom {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
