<head>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="#" (click)="setActiveSection('usuario')"> <i class="uil uil-user"></i> Usuario</a></li>
        <li><a href="#" (click)="setActiveSection('configuracion')"> <i class="uil uil-setting"></i> Configuración</a></li>
        <li><a href="#" (click)="setActiveSection('acerca-de')"> <i class="uil uil-exclamation-circle"></i> Acerca de</a></li>
        <li><a href="#" (click)="setActiveSection('contactos')"> <i class="uil uil-phone"></i> Contactos</a></li>
      </ul>
      <div class="sidebar-footer">
        <button class="btn-regresar">Regresar</button>
      </div>
    </div>
    <div class="main-content">
      <div *ngIf="activeSection === 'usuario'" class="section">
        <div class="user-info">
          <!-- Imagen de perfil -->
          <div class="user-photo-container">
            <div class="user-photo">
              <i class="uil uil-user"></i>
            </div>
          </div>
          <div class="user-details">
            <h2>Usuario</h2>
            <p>Correo: usuario123&#64;gmail.com</p>
            <p>Dirección: Calle 1 y Calle 2, 99</p>
            <p>Telefono: 0988746769</p>
            <p>Suscripción: Premium</p>
          </div>
        </div>
      </div>

      <!-- Bloque de editar datos fuera del bloque de datos del usuario -->
      <div *ngIf="activeSection === 'usuario'" class="user-edit">
        <h2>Editar Datos</h2>
        <form>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" placeholder="usuario123@gmail.com">
          </div>
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" placeholder="Calle 1 y Calle 2, 99">
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" id="telefono" placeholder="0988746769">
          </div>
          <div class="button-container">
            <button class="btn-save">Guardar Cambios</button>
            <button class="btn-logout">Cerrar Sesión</button>
        </div>
        </form>
      </div>
      <div *ngIf="activeSection === 'configuracion'" class="section">
        <h2>Configuración</h2>
        <p>Esta función estará displonible en otro momento. :/</p>
      </div>
      <div *ngIf="activeSection === 'acerca-de'" class="section">
        <h2>Acerca de</h2>
        <p>Aqui conocerás mas sobre nuestra empresa HoneyTech.</p>
      </div>
      <div *ngIf="activeSection === 'contactos'" class="section">
        <h2>Contactos</h2>
        <p>Contacta a nuestros desarrolladores.</p>
      </div>
    </div>
  </div>
</body>
