<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <button class="btn-regresar">Regresar</button>
            <h2>Registro de Caja</h2>
        </div>
        <div class="form-container">
            <form>
                <div class="input-group">
                    <label for="nombre-caja">Nombre de la Caja:</label>
                    <input type="text" id="nombre-caja" name="nombre-caja" required>
                </div>
                <div class="input-group">
                    <label for="codigo-caja">Código de Caja:</label>
                    <input type="text" id="codigo-caja" name="codigo-caja" required>
                </div>
                <div class="input-group">
                    <label for="ubicacion">Ubicación:</label>
                    <input type="text" id="ubicacion" name="ubicacion" required>
                </div>
                <div class="input-group">
                    <label for="fecha-instalacion">Fecha de Instalación:</label>
                    <input type="date" id="fecha-instalacion" name="fecha-instalacion" required>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn-registrar">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
