<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <div class="container">
        <!-- Título superior -->
        <div class="title">Error 404 :/</div>
        
        <!-- Contenedor de la imagen -->
        <div class="image_error">
            <img src="/abejamuridaxd.png" alt="Error Image" class="error-img">
        </div>
        
        <!-- Mensaje de error -->
        <div class="error-message">
            <h2>¡Ups! Página no encontrada</h2>
            <p>Lo sentimos, no podemos encontrar la página que estás buscando.</p>
        </div>
        
        <!-- Botón para regresar -->
        <div class="action">
            <button class="button-back">
                Regresar
              </button>
        </div>
    </div>
</body>

