<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <div class="container">
        <div class="container-form">
            <form class="sign-up">
                <h2>registrarse</h2>
                <div class="social-networks">
                    <i class="uil uil-twitter"></i>
                    <i class="uil uil-instagram"></i>
                    <i class="uil uil-youtube"></i>
                    <i class="uil uil-whatsapp"></i>
                </div>
                <span>Use su correo electronico para registrarse</span>
                <div class="container-input">
                    <i class="uil uil-user"></i>
                    <input type="text" placeholder="Nombre">
                </div>
                <div class="container-input">
                    <i class="uil uil-envelope"></i>
                    <input type="text" placeholder="Email">
                </div>
                <div class="container-input">
                    <i class="uil uil-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <div class="container-btn">
                    <button class="button">REGISTRARSE</button>
                </div>
            </form>
        </div>
    </div>
</body>
