<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <div class="container">
        <!-- Título superior -->
        <div class="title">Datos Caja #</div>
        
        <button class="back-button">← Regresar</button>
        <div class="sections">
            <div class="section">
                <i class="uil uil-temperature-half"></i>
                <div class="text">Temperatura</div>
            </div>
            <div class="section">
                <i class="uil uil-tear"></i>
                <div class="text">Humedad</div>
            </div>
            <div class="section">
                <i class="uil uil-balance-scale"></i>
                <div class="text">Peso</div>
            </div>
            <div class="section">
                <i class="uil uil-camera"></i>
                <div class="text">Cámaras</div>
            </div>
        </div>
    </div>
</body>
